<div class="modal-header">
  <h4>Editar Computadora
    <i class="fa fa-question-circle fa-lg" uib-tooltip="Permite editar la informacion del estudiante"></i>
  </h4>
  <button class="close modal-close-btn" type="button" 
  ng-click="vmComputerEdit.close()">
    <i class="fa fa-times fa-lg"></i>
  </button>
</div>
<div class="edit-content" cg-busy="vmComputerEdit.promise">
  <form name="formEdit" class="form-horizontal" novalidate>
    <div class="form-group" 
    ng-class="{'has-error': formEdit.name.$invalid && formEdit.name.$dirty }">
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-4">
        <input name="name"
               type="text"
               class="form-control"
               ng-model="vmComputerEdit.selected.name"
               ng-minlength="3"
               ng-maxlength="30" 
               ng-required="true"
               ng-pattern="/^[a-zA-Z\- ]*$/">
          <span class="help-block" 
               ng-if="formEdit.name.$error.pattern && formEdit.name.$dirty">
           Only characters allowed
          </span>
         <span class="help-block" 
               ng-if="
               formEdit.name.$invalid && 
               formEdit.name.$dirty && 
               !formEdit.name.$error.minlength &&
               !formEdit.name.$error.maxlength">
           Required
         </span>
         <span class="help-block" 
               ng-if="formEdit.name.$error.minlength && formEdit.name.$dirty">
           Name is short
         </span>
         <span class="help-block" 
               ng-if="formEdit.name.$error.maxlength && formEdit.name.$dirty">
           Name is large
         </span>
      </div>
    </div>
    <div class="form-group" 
    ng-class="{'has-error': formEdit.date.$invalid && formEdit.date.$dirty }">
      <label class="col-sm-2 control-label">Birth Date</label>

      <div class="col-sm-4">
        <p class="input-group">
          <input name="date"
                 type="text"
                 class="form-control"
                 ng-model="vmComputerEdit.selected.birthDateObject"
                 uib-datepicker-popup="{{vmComputerEdit.dateFormat}}"
                 datepicker-options="vmComputerEdit.dateOptions"
                 is-open="vmComputerEdit.isDateOpened"
                 ng-required="true"/>
          <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="vmComputerEdit.openDateSelector()">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>              
        </p>
        <span class="help-block" 
               ng-if="formEdit.date.$invalid && 
               formEdit.date.$dirty">
           Required
         </span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-disabled="formEdit.$invalid" ng-click="vmComputerEdit.saveChanges()" class="btn btn-primary">
          Save
        </button>
      </div>
    </div>
  </form>
</div>






























<!--<div>This is the edit-computer view.</div>-->
<!--MODAL EDIT-->
<!--<div  class="modal fade"id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">EDITAR COMPUTADORA</h4>
      </div>
     <div class="modal-body">
        <div class="form-group">
        <label type="text">Marca: </label>
        <input class="form-control " type="text" placeholder="Introduzca la marca del equipo" ng-model="computers.marca">
        </div>
        <div class="form-group">
        <label type="text">Modelo: </label>
        <input class="form-control " type="text" placeholder="Introduzca el modelo del equipo" ng-model="computers.modelo">
        </div>
        <div class="form-group">
        <label type="text">Precio: </label>
        <input class="form-control" type="number" placeholder="Introduzca el precio del equipo" ng-model="computers.precio">
        </div>
        <div class="form-group">
        <label type="text">Fecha de Ingreso: </label>
        <div class="input-group date" data-provide="datepicker">
        <input type="text" class="form-control">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
        </div>
        </div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-info" ><span class="glyphicon glyphicon-ok-sign"></span>Guardar</button>
        <button type="button" class="btn btn-danger" ><span class="glyphicon glyphicon-remove"></span>Cancelar</button>
      </div>
        </div>
    <!-- /.modal-content --> 
 <!-- </div>-->
      <!-- /.modal-dialog --> 
    <!--</div>-->