
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Login from Final Proyect</h3>
      <hr>
    </div>
  </div>
	<div type="text/ng-template">
 <div class="col-md-12" align="center">
      <!--<h3>Login from Final Proyect</h3>-->
      
      <form ng-submit="vmLogin.loginUser()" class="loginmodal-container" >
        
            <input type="text" class="form-control" ng-model="vmLogin.username" placeholder="username" required=""/>
           
            <input type="password" class="form-control" ng-model="vmLogin.password" placeholder="password" required=""/>

            <input type="submit" name="login" class="login loginmodal-submit" value="Login">
            <!--<span class="text-danger">{{ error }}</span>-->
        
      </form>
    </div>
</div>
</div>
